.square {
    background-color: rgb(77, 230, 77);
    border: solid rgb(30, 82, 30) 1px;
}

#campoMinato {
    margin: 0 auto;
    width: 500px;
    height: 500px;
}

.facile {
    width: calc(100%/10);
    height: calc(100%/10);
}

.medio {
    width: calc(100%/9);
    height: calc(100%/9);
}

.difficile {
    width: calc(100%/7);
    height: calc(100%/7);
}

.red {
    background-color: red;
    border: solid rgb(143, 5, 5) 1px;
}